%form{action:'/search'}
  %label{for: 'what'} What:
  %input{name: 'what', type: 'text', value:params[:what]}
  %label{for: 'where'} Where:
  %input{name: 'where', type: 'text', value:params[:where]}
  = haml :'partials/size_select'
  %input{value: 'search', type:'submit'}

#results
  - if @results
    %h2 Results (max 20)

    %p Click on any logo/name to view all images for the entry.
    
    - @results.listings.each do |listing|
      - w,h = @size.split('x').map(&:to_i)
      .item{style:%Q(width:#{w}px;height:#{h+30}px)}
        = haml :'partials/logo', locals: {listing: listing, size: @size}
        .caption
          %h4
            %a{href:"/listing/#{listing.entity_id}"}= listing.main_entry.name
            